body{
    background-color: #B91547;
}

.bg_white{
    background-color: white;
}

.bg_grey{
    background-color: #757575;
}

.c_white{
    color: white;
}

.b_radius{
    border-radius: 0.5rem;
}

label{
    margin: 10px ;
    display: block;
    color: #B91547;
}

input,
select{
   padding: 0.25rem; 
   border-radius: 10px;
   border: 2px solid #B91547;
}

button{
    color: #B91547;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #C5C5C5;
    font-size: 22px;
    font-weight: 700;
}

section.biglietto{
    display: none;
}
.dettaglio_passeggeri_title{
    font-size: 25px;
    font-weight: bold;
}
.my_ticket{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.categoria{
    margin-bottom: 50px;
}

.categoria_big{
    font-size: 19px;
}

.categoria, .categoria_big, .passenger_name{
    font-weight: bold;
}
